.titres_competences {
	text-align: center;
}

.ul_competences {
	width: 80%;
	margin: 0 auto;
}

li {
	list-style: none;
}

.icon_competences {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}