html, body {
	background-color: #ffffff;
	color: $main_color;
	font-family: $main_font;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.main_container {
	width: 60%;
	margin: 4em auto;
}

.titres_sections {
	text-align: center;
	margin: 2em 0 1em 0;
}