.container_menu {
	margin: 3em 0;
	width: 100%;
}

.container_menu ul {
	margin: 0;
	padding: 0;
	z-index: 100;
	border-top: 0;

	
	li {
		display: inline-block;
		list-style: none;
		margin: -0.2em;
		margin-top: 0;
		height: 2em;
		vertical-align: top;
		border-bottom: 0.1em solid $light_color;
	
		a {
			color: $light_color;
			padding-left: 1em;
			padding-right: 1em;
			padding-bottom: 0.65em;
			text-decoration: none;
		}
	}

	.ugly_fix {
		width: 8em;
	}

}

.container_menu .active {
	font-weight: bold;
	color: $main_color;
	border-bottom: 0.2em solid $main_color;

	a {
		color: $main_color;
	}
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF;
  margin-top: 0;
  padding-top: 2em;
}
