.bloc-formation {
	margin-top: 3em;
}

.dates {
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	display: inline-block;
	width: 15%;
	vertical-align:top;
	margin-top: 0.5em;
	margin-left: 0.2em;
	font-weight: bold;
	text-align: center;
	height: 2em;
}

.texte-formation {
	display: inline-block;
	margin-left: 1em;
	width: 80%;
}

h4 {
	font-family: 'Dosis', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: teal;
	font-size: 1.2em;
}

h5 {
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin-top: 0.2em;
}

