html, body {
	background-color: #ffffff;
	color: #333333;
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 18px;
	padding: 0;
}
body {
	width: 60%;
	margin: 4em auto;
}

/* Header */
h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	margin-bottom: 0.2em;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.2em;
}

.infos_header {
	color: grey;
}

.strong_header {
	color: teal;
	font-weight: bold;
}

.texte-presentation {
	margin-top: 3em;
	margin-bottom: 3em;
	width: 90%;
}

/* Menu */

#menu {
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
}

/* Formation */

.bloc-formation {
	margin-top: 3em;
}

.dates {
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	display: inline-block;
	width: 15%;
	vertical-align:top;
	margin-top: 0.5em;
	margin-left: 0.2em;
	font-weight: bold;
	text-align: center;
	height: 2em;
}

.texte-formation {
	display: inline-block;
	margin-left: 1em;
	width: 80%;
}

h4 {
	font-family: 'Dosis', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	color: teal;
	font-size: 1.2em;
}

h5 {
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin-top: 0.2em;
}

